<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Test">
    <classes>
      <class name="Framework_Designing.E2E_Framework2.NavigationBarTest"/>
      <class name="Framework_Designing.E2E_Framework2.BaseNavigation">
      <methods>
          <include name="teardown"/>
          <include name="basenavigate"/>
          <include name="initialize"/>
          </methods>
      </class>
      <class name="Framework_Designing.E2E_Framework2.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
